Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
s = ['John', [3,4],14.5,(34,35)]

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [16]:
var1 = ''
var2 = '[DS,ML,Python]'
var3 = ['DS','ML','Python']
var4 = 1

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [27]:
A = 4
B = 2

#using '/' performs divide operation
C = A/B 
print(C)

#using '%' performs mod operation
D = A%B
print(D)

#using '//' performs only integer division
E = A//B
print(E)

#using '**' performs power of operation
F = A**B
print(F)

2.0
0
2
16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [29]:
l = ['Joe', 34,3.25,3+4j,(3,4),{10,44}]
for i in l:
    print(i)
    print(type(i))

Joe
<class 'str'>
34
<class 'int'>
3.25
<class 'float'>
(3+4j)
<class 'complex'>
(3, 4)
<class 'tuple'>
{10, 44}
<class 'set'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [3]:
A = 36
B = 4

count = 0  # Counter to keep track of the number of divisions

while A % B == 0:  # Check if A is divisible by B
    A = A / B     # Divide A by B
    count += 1    # Increment the count

if count > 0:
    print(f"A is divisible by B and can be divided {count} times.")
else:
    print("A is not divisible by B.")

A is divisible by B and can be divided 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [6]:
l = [32, 54, 17, 79, 42, 61, 95, 8, 88, 15, 73, 2, 48, 90, 55, 11, 69, 25, 37, 83, 12, 59, 20, 67, 97]
for i in l:
    if i%3==0:
        print(i,"is divisible")
    else:
        print(i," is not divisible")

32  is not divisible
54 is divisible
17  is not divisible
79  is not divisible
42 is divisible
61  is not divisible
95  is not divisible
8  is not divisible
88  is not divisible
15 is divisible
73  is not divisible
2  is not divisible
48 is divisible
90 is divisible
55  is not divisible
11  is not divisible
69 is divisible
25  is not divisible
37  is not divisible
83  is not divisible
12 is divisible
59  is not divisible
20  is not divisible
67  is not divisible
97  is not divisible

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [7]:
#Mutable : Mutable means the data in which we can make changes (list,dict,set)
student = ['Roshan', 'Siddharth', 'Atharva', 'Varun', 'Kamlesh']
student[2] = 'Karan'  # here we change the 2 index element to Karan
student

['Roshan', 'Siddharth', 'Karan', 'Varun', 'Kamlesh']

In [12]:
# Immutable : Immutable means the data which we cannot change (int,float,str,tuple)
student = 'Karan'
student[3]='n'  # here we cannot change the data 
student

TypeError: 'str' object does not support item assignment